<%- include('../site/header', {title: title}) %>
<%- include('../site/nav') %>

<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Кол-во запросов: <%= value %></h5>

            </div>
        </div>
    </div>
</div>

<%- include('../site/footer') %>